<footer class="footer">
  <div class="devbio">
    <h2>Project Done By</h2>
    <p>P-GOLD</p>
    <P
      >P-GOLD is one of the students of the Google Africa scholarship in the
      mobile web track. He entered the world of tech in the year 2019 due to his
      curiosity to explore more things. Hes From Anambra state in Nigeria. Feel
      free to contact him with the details behind.</P
    >
  </div>
  <div class="contact-details">
    <h2>Contact Below</h2>
    <div class="social-icons">
      <a href="https://twitter.com/mycodeworkes" target="blank"><i class="fab fa-twitter" title="follow on twitter"></i></a>
      <a href="https://github.com/p-gold" target="blank"><i class="fab fa-github-square" title="Github"></i></a>
      <a href="https://www.linkedin.com/in/chukwudi-okonkwo-906a41171/" target="blank"><i class="fab fa-linkedin-in" title="Linkdin"></i></a>
    </div>
  </div>
</footer>
